h1 {
    color: crimson;
}

li {
    color: #be0341;
    font-weight: 600;
}

.important-places {
    color: #00c4c4;
}

.greenish-bg {
    background: #d5ff55 !important;
    text-align: center;
}
.greenish-bg li {
    color: green;
    list-style: none;
}
.large-text {
    font-size: 5em; /* problem */
}

